body {
    background-color: #666;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    font-family: 'Press Start 2P', cursive;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

container {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    width:1200px; height:800px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

score {
    color:white;
    font-size : 220px;
    padding:20px;
}

supporter{
     background-image: url(../images/supporter.png);
     width:145px; height: 300px;
}

policeman{
     background-image: url(../images/policeman.png);
     width:83px; height: 200px;
}

bottle{
     background-image: url(../images/bottle.png);
     width:13px; height: 50px;
}

